
<body>
    <div class="loginbox">
        <h1>Sign up</h1>
        <form>
            <input type="text" name="" placeholder="First Name">
            <input type="text" name="" placeholder="Last Name">
            <input type="text" name="" placeholder="Email Address">
            <input type="password" name="" placeholder="Password">
            <input type="password" name="" placeholder="Repeat Password">
            <input type="submit" name="" value="SIGN UP">
            <input type="submit" name="" value="GOOGLE SIGN IN">
            <a href="#">Already have an account? Sign in</a>  
        </form>
    
    </div>
    
</body>


