
<body>
    <table class='table' *ngIf='events && events.length'>
        <thead>
        <tr>
            <th>
                <button class='btn btn-primary'
                        (click)='toggleImage()'>
                    {{showImage ? 'Hide ' : 'Show'}} Image
                </button>
            </th>
            <th style="color:firebrick">Event</th>
            <th>Location</th>
            <th>Date</th>
            <th>Price</th>
            <th>Available</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let event of events'>
            <td>
                <img *ngIf='showImage'
                     [src]='event.eventImg'
                     [title]='event.eventName'>
            </td>
            <td><a href="./event-page">{{ event.eventName }}</a></td>
            <td>{{ event.eventLoc}}</td>
            <td>{{ event.eventDate }}</td>
            <td>{{ event.eventCost | currency:'PHP':'symbol':'1.2-2' }}</td>
            <td>{{ event.eventSeatAvail }}</td>
        </tr>
        </tbody>
    </table>
</body>
