ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
  li a{
    height: 22.5rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    background-color: rgb(43, 11, 80);
  }

  .name{
    font-weight: bold;
  }
  
  li a:hover{
    opacity: 0.9;
    cursor: pointer;
  }
  
  li a img{
    margin-top: 2rem;
    object-fit: cover;
    height: 14.5rem;
  }
  
  .content{
    margin-top: 0.1rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
  }
  

  .product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .info{
    flex: 9;
  }
  
  .info span{
    border-radius: 2rem;
    background-color: rgb(125, 58, 137);
    display: inline-block;
    font-size: 0.8rem;
    color: white;
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
  }
  

  