ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  
  li a{
    height: 22.5rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    background-color: rgb(43, 11, 80);
  }

  .name{
    font-weight: bold;
  }
  
  li a:hover{
    opacity: 0.9;
    cursor: pointer;
  }
  
  li a img{
    margin-top: 2rem;
    object-fit: cover;
    height: 14.5rem;
  }
  
  .content{
    margin-top: 0.1rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
  }
  

  .product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .info{
    flex: 9;
  }
  
  .info span{
    border-radius: 2rem;
    background-color: rgb(125, 58, 137);
    display: inline-block;
    font-size: 0.8rem;
    color: white;
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
  }
  
  div{
    text-align: center;
  }

  button:hover,
  button:focus {
      background: rgb(43, 11, 80);
      color: white;
      outline: 1px solid #fff;
      outline-offset: -4px;
  }
  
  button:active {
      transform: scale(0.99);
  }
  
  
  button {
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    margin: 1px;
    margin-bottom: 10px;
  
    color: #fff;
    background: linear-gradient(180deg, rgb(43, 11, 80) 0%, #0f306e 100%);
     background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-10:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }
  