div{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  input{
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 2rem;
    width: 20rem;
    background-color: rgb(125, 58, 137);
    padding: 1.2rem;
    font-size: .8rem;
    font-weight: 500;
    outline: none;
    color: white;
  }
  
  div button{
    color: grey;
    height: 2.4rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: rgb(43, 11, 80);
    color: white;
    opacity: 1;
    outline: none;
  }
  
  div button:hover{
    opacity: 0.8;
    cursor: pointer;
  }