<div>
<body>
    <div class="loginbox">
        <h1>Login</h1>
        <form [formGroup]="loginForm"  (ngSubmit)="submit()">
            <text-input [control] = "form.email" [showErrorsWhen] = "isSubmitted" type = "email" label = "Email"></text-input>
            <text-input [control] = "form.password" [showErrorsWhen] = "isSubmitted" type = "password" label = "Password"></text-input>
            <input type="submit" action="/event-list" value="SIGN IN">
            <a routerLink="/register" [queryParams]="{returnUrl : returnUrl}">Don't have an account? Sign up now</a>  
        </form>
        
    </div>
</body>
</div>
