<div>
    <title>Login Form Design</title>    
<body>
    <div class="loginbox">
        <h1>Sign in</h1>
        <form action="/event-list">
            <p>Email</p>
            <input type="text" name="" placeholder="Email Address">
            <p>Password</p>
            <input type="password" name="" placeholder="Password">
            <input type="submit" name="" value="SIGN IN">
            <input type="submit" name="" value="GOOGLE SIGN IN">
            <a href="/sign-up">Don't have an account? Sign up now</a>  
        </form>
    
    </div>
</body>
</div>
