<body>
    <div class='div-event-info'>
        <div class='content-wrap-1'>
            <div class='div-event-img'>
                <img src="./assets/aurorafest.jpg" class='event-img'>
            </div>
            <div class='div-event-details'>
                <h1 class='event-title' id="event-name">{{events[EventID-1].eventName}}</h1>
                <h3 class='event-title subtitle' id="event-location">{{events[EventID-1].eventLoc}}</h3>
                <br>
                <h4 class='event-about'><a (click)="updateEventPageUI(3)">About</a></h4>
                <p class='p-about' id="event-about">
                {{events[EventID-1].eventAbout}}
                </p>
            </div>
        </div>
    </div>

    <div class='container-reservation'>
        <div class='container-seats' id='container-seats-id'>
            <div class='stage'>stage</div>
        </div>
    </div>

    <script src="./assets/js/seats.js"></script>
</body>