* {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}


.web-name {
    flex: 2;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 190%;
}

nav{
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
}

.header-btn{
    flex: 1;
    text-align: right;
    display: inline-block;
    padding: 4px 6px;
    position: relative;
}

button {
    margin: 1%;
    font-size: 100%;
}
.div-event-info {
    min-height: 275px;
    background-image: linear-gradient(
        rgba(4, 9, 30, 0.7),
         rgba(4,9,30,0.7)),
         url("/assets/concert.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
    padding: 10px 50px;
    box-sizing: border-box;
    
}

.content-wrap-1 {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
}

@media screen and (max-width:990px) {
    .content-wrap-1 { flex-wrap: wrap;  }
}

.div-event-img {
    display: inline-block;
    position: relative;
    order: 0;
}

.div-event-details {
    display: inline-block;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    margin: 0px 10px;
    align-self: flex-end;
    order: 1;
}

.event-img {
    height: 250px;
    max-width: unset;
}

.event-title {
    color: white;
    font-size: 36px;
}

.subtitle {
    font-weight: 400;
    font-size: 18px;
}

.event-about {
    color: white;
    font-size: 14px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.35);
}

.p-about {
    color: white;
    font-size: 14px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.35);
    text-align: justify;
    text-indent: 30px;
    font-weight: 500;
}

.container-reservation {
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    font-family: "Lato", sans-serif;
    margin: 0;
}

.container-seats {
    perspective: 1000px;
    margin-bottom: 30px;
    display: block;
}

.stage {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgb(255 255 255 / 70%);
    display: block;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.row {
  display: flex;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}