<body>
    <div class='div-event-info'>
        <div class='content-wrap-1'>
            <div class='div-event-img'>
                <img src="./assets/aurorafest.jpg" class='event-img'>
            </div>
            <div class='div-event-details'>
                <h1 class='event-title' id="event-name">{{EventName}}</h1>
                <h3 class='event-title subtitle' id="event-location">{{EventLoc}}</h3>
                <br>
                <h4 class='event-about'>About</h4>
                <p class='p-about' id="event-about">
                {{EventAbout}}
                </p>
            </div>
        </div>
    </div>

    <div class='container-reservation'>
        <div class='container-seats' id='container-seats-id'>
            <div class='stage'>stage</div>
        </div>
    </div>
</body>