<body>
    <h2>Reservations</h2>
    <table class='res-table' *ngIf='userReservations && userReservations.length'>
        <thead>
        <tr>
            <th class="event-img">
                <button class='btn btn-primary'
                        (click)='toggleImage()'>
                    {{showImage ? 'Hide ' : 'Show'}} Image
                </button>
            </th>
            <th>Event</th>
            <th>Date</th>
            <th>Name</th>
            <th>Seat #</th>
            <th>Payment Img</th>
            <th>Status</th>
            <th>Generated Ticket ID</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let reservation of userReservations'>
            <td>
                <img *ngIf='showImage'
                     src="./assets/aurorafest.jpg"
                     [title]='reservation.eventName'>
            </td>
            <td><a></a>{{reservation.eventName}}</td>
            <td>{{ reservation.date }}</td>
            <td>{{ reservation.Name }}</td>
            <td>{{ reservation.seatNo }}</td>
            <td>{{ reservation.paymentImg }}</td>
            <td>[Pending/Approved/Cancelled]</td>
            <td>[insert ticket ID]</td>
        </tr>
        </tbody>
    </table>
</body>