<body>
    <h2>Reservations</h2>
    <table class='res-table'>
        <thead>
        <tr>
            <th class="event-img">
                <button class='btn btn-primary'
                        (click)='toggleImage()'>
                    {{showImage ? 'Hide ' : 'Show'}} Image
                </button>
            </th>
            <th>Event</th>
            <th>Seat #</th>
            <th *ngIf="user.isAdmin">Email</th>
            <th>Name</th>
            <th>Date</th>
            <th>Payment Img</th>
            <th>Status</th>
            <th>Generated Ticket ID</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let reservation of userReservations'>
            <td>
                <img *ngIf='showImage'
                     src="./assets/aurorafest.jpg"
                     [title]='reservation.eventName'>
            </td>
            <td>{{reservation.eventName}}</td>
            <td>{{ reservation.seatNo }}</td>
            <td *ngIf="user.isAdmin">{{reservation.userEmail}}</td>
            <td>{{ reservation.Name }}</td>
            <td>{{ reservation.date }}</td>
            <td>{{ reservation.paymentImg }}</td>
            <td *ngIf="user.isAdmin && reservation.isApproved === pending; else elseBlock">   
                <button (click)="Approve(reservation)">
                    Approve
                </button>
                <button (click)="Reject(reservation)">
                    Reject
                </button>
            </td>
            <ng-template #elseBlock>
                <td>
                    {{reservation.isApproved}}
                </td>
            </ng-template>
            <td>{{reservation.TicketID}}</td>
        </tr>
        </tbody>
    </table>
</body>