<div class="homepage">
    <div class="containerwrap">
        <div class="row">
            <div class="col1">
                <h1>E-SEAT</h1>
                <h2>reservation system</h2>
                <p>Seat Management System is limited to reserving seats
                    in a place where people come together. It
                    does not extend to functions assimilating search
                    engines, social media, and other functions of other
                    utilities.
                </p>
            </div>
            <div class="col2">
                <img src="./assets/logo.png" class="logo">
                <img src="./assets/home-graphic.png" class="graphic">
            </div>
        </div>
    </div>
    
    
    

</div>