
<header>
    <div class="container">
      <a routerLink="/" class="logo">Sitdown Software</a>
      <nav>
        <ul>
          <li>
            <a routerLink="/customer-event-list">Events</a>
          </li>
          <li *ngIf="!isAuth">
            <a routerLink="/login">Login</a>
          </li>
          <li *ngIf="isAuth" class="menu-container">
            <a>{{user.Firstname}}</a>
            <div class="menu">
              <a routerLink="/customer-profile">History</a>
              <a (click)="logout()">Logout</a>
            </div>
          </li>

        </ul>
      </nav>
    </div>
  </header>