<div class="form-container">
<div class="form-title">Event Creation</div>
<form class="form1" action="./" method="post">
    <div class="form-item">
        <label for="eventname" class="form-label">Event Name</label>
        <input type="text" class="form-input" name="eventname"  formControlName="street" placeholder="Enter the name of the event">
        <span class="form-error">A sample error message</span>
    </div>

    <div class="form-item">
        <label for="eventloc" class="form-label">Event Location</label>
        <input type="text" class="form-input" name="eventloc" id="eventloc" placeholder="Enter the location of the event">
        <span class="form-error">A sample error message</span>
    </div>

    <div class="form-item">
        <label for="eventabout" class="form-label">Event About Info</label>
        <textarea maxlength="500" class="form-input" name="eventabout" id="eventabout" placeholder="Enter a general information about the event. (Maximum of 500 characters)"></textarea>
        <span class="form-error">A sample error message</span>
    </div>

    <div class="form-item">
        <label for="eventdate" class="form-label">Event Date</label>
        <input type="date" class="form-input form-input--small" name="eventdate" id="eventdate" placeholder="Enter the date of the event">
        <span class="form-error">A sample error message</span>
    </div>

    <div class="form-item">
        <label for="eventimage" class="form-label">Event Image</label>
        <input type="file" class="form-input form-input--small" name="eventimage" id="eventimage" accept="image/jpeg, image/png">
        <span class="form-error">A sample error message</span>
    </div>

    <div class="form-item">
        <label for="eventseats" class="form-label">Number of Seats</label>
        <input type="number" class="form-input form-input--small" name="eventseats" id="eventseats" min="1" max="10000" placeholder="Enter the number of seats">
        <span class="form-error">A sample error message</span>
    </div>

    <div class="form-item">
        <label for="eventseatrows" class="form-label">Number of Rows</label>
        <input type="number" class="form-input form-input--small" name="eventseatrows" id="eventseatrows" min="1" max="10000" placeholder="Enter the number of row/s of seats">
        <span class="form-error">A sample error message</span>
    </div>

    <div class="form-item">
        <label for="eventprice" class="form-label">Seat Price</label>
        <input type="number" class="form-input form-input--small" name="eventprice" id="eventprice" min="1" max="100000" placeholder="Enter the price per seat. (in PhP)">
        <span class="form-error">A sample error message</span>
    </div>

    <div class="form-btns">
        <button class="form-btn">Cancel</button>
        <button class="form-btn" type="submit">Create</button>
    </div>
</form>
</div>